# CMake build folders
build/
out/
CMakeFiles/
CMakeCache.txt
*.cmake

# IDE / editor stuff
.vscode/ipch/
*.code-workspace

# Logs and temp files
*.log

# macOS / Windows system files
.DS_Store
Thumbs.db
